<form action="/songs" method="POST">
    <label for="title">Title</label>
    <input required type="text" id="title" name="title">

    <label for="album">Album</label>
    <input required type="text" id="album" name="album">

    <button type="submit">Submit Song</button>
    <!-- <input type="submit" value="Submit Song"> -->
</form>